<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Bruno Torrijo</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
</head>
<body>
    <header>
        <h1 class="name">Bruno Torrijo</h1>
        <a href="/" class="back-btn">Back</a>
    </header>
    
    <main class="about-container">
        <div class="about-card">
            <div class="profile-container">
                <img src="/images/aboutme_pic.jpg" alt="Profile Picture" class="profile-pic">
            </div>
            <div class="about-text-container">
                <p>Currently based in Maastricht, Netherlands, I am an aspirting Software Engineer, studying Computer Science at Maastricht University!</p>
                <p>I am a previous Economics student who found a passion for programming and software development in their free time, which is why I decided to pursue a career in this field, slowly building projects to try to make my and others' lifes easier</p>
                <p>Most of the time I am probably at the gym, at the cinema, or in my room playing video games.</p>
                <p>Find me on @bruno.torrijo on instagram or bruno.torrijo@gmail.com to be part of my journey!</p>
            </div>
        </div>
    </main>

    <script src="/js/about.js"></script>
</body>
</html>
